@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  z-index: 1;
}
.navbar img {
  height: 2rem;
}
.active {
  background-color: red;
}
.navbar .nav-link {
  font-size: 1.05rem;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 1rem;
  transition: 0.7s;
}
.navbar .icons {
  position: fixed;
  right: 0;
}
.navbar .icons i {
  margin-left: 2%;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}
.navbar .icons img {
  width: 50%;
  margin-left: 32%;
  border-radius: 20%;
  object-fit: cover;
  cursor: pointer;
}

.container-home {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/images/background.jpg);
  background-size: 100% 100%;
}
.container-home .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.7;
}
.container-home .row .left {
  padding: 0 4%;
}
.container-home .row .left .season {
  cursor: pointer;
}
.container-home .row .left .start {
  color: yellow;
}

.container-home .row .left h2 {
  font-size: 4rem;
  font-weight: 750;
  width: 50%;
  letter-spacing: 3px;
}
.container-home .row .left p {
  font-size: 1.1rem;
  opacity: 0.4;
  width: 80%;
  letter-spacing: 1px;
}
.container-home .row .left .buttons .watch {
  background-color: red;
  padding: 2% 5%;
  color: #fff;
  font-weight: 550;
}
.container-home .row .left .buttons .watch:hover {
  box-shadow: rgba(255, 0, 0, 1) 0px 0px 15px;
}
.container-home .row .left .buttons .watch i {
  font-size: 1.2rem;
}
.container-home .row .left .buttons .favourite {
  background-color: #fff;
  color: #000;
  padding: 2% 5%;
  font-weight: 550;
}
.container-home .row .left .buttons .favourite:hover {
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 15px;
}
.container-home .row .left .buttons .favourite i {
  color: #000;
}

.container-home .row .right {
  padding: 3% 4%;
}
.container-home .row .right .actor {
  cursor: pointer;
}
.container-home .row .right h2 {
  font-size: 4rem;
  font-weight: 750;
  letter-spacing: 3px;
}
.container-home .row .right h4 {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 2px;
}
.container-home .row .right p {
  font-size: 1.1rem;
  opacity: 0.4;
  letter-spacing: 1px;
}
.container-home .row .right .social i {
  font-size: 1.2rem;
  cursor: pointer;
}

.season img {
  height: 6rem;
  width: 10rem;
  border-radius: 1rem;
}
.season .overlay2 {
  height: 100%;
  width: 10rem;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.season .overlay2 i {
  font-size: 2rem;
}
.actor img {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}

/* Responsive */

@media screen and (min-width: 700px) and (max-width: 900px) {
  .navbar {
    width: 100vw;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 11;
    /* background-color: #191919; */
    padding: 5% 3% !important;
  }
  .navbar-collapse {
    background-color: #191919;
    margin-top: 4%;
  }
  .navbar .icons {
    right: 8%;
    top: 0%;
    line-height: 5rem;
  }
  .navbar-toggler {
    width: 50px;
    background-color: none;
  }
  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 3px;
    background-color: #fff;
    margin-left: 30%;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar .nav-item {
    margin: 5% 30% !important;
    text-align: center;
  }
  /* .navbar-toggler {
    background-color: white !important;
  } */

  .container-home {
    height: 45rem;
    width: 100%;
    background-size: 100% 100%;
  }
  .container-home .overlay {
    height: 45rem;
    width: 100%;
  }
  .container-home .left {
    height: 100%;
    margin-top: 19%;
  }
  .container-home .left p {
    color: #fff;
  }
  .container-home .left .season {
    margin-right: 0%;
  }
  .container-home .row .left .buttons {
    margin-top: 10% !important;
  }
  .container-home .row .left .buttons .watch {
    padding: 0% 2%;
    width: 100%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .row .left .buttons .favourite {
    width: 100%;
    padding: 2.5% 2%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .right {
    margin-top: 10%;
  }
  .container-home .right h2,
  h4,
  p,
  i {
    color: #000;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .nav-item {
    margin-left: 0% !important;
  }
  .container-home {
    height: 45rem;
    width: 100%;
    background-size: 100% 100%;
  }
  .container-home .overlay {
    height: 45rem;
    width: 100%;
  }
  .container-home .left {
    height: 100%;
    margin-top: 0%;
  }
  .container-home .left p {
    color: #fff;
  }
  .container-home .left .season {
    margin-right: 0%;
  }
  .container-home .row .left .buttons {
    margin-top: 10% !important;
  }
  .container-home .row .left .buttons .watch {
    padding: 0% 2%;
    width: 100%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .row .left .buttons .favourite {
    width: 100%;
    padding: 2.5% 2%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .right {
    margin-top: 0%;
  }
  .container-home .right h2,
  h4,
  p,
  i {
    color: #fff;
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    width: 100vw;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 11;
    /* background-color: #191919; */
    padding: 5% 3% !important;
  }
  .navbar-collapse {
    background-color: #191919;
    margin-top: 4%;
  }
  .navbar .icons {
    right: 12%;
    top: 0%;
    line-height: 4.5rem;
  }
  .navbar-toggler {
    width: 50px;
    background-color: none;
    margin-top: 0%;
  }
  .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-left: 30%;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar .nav-item {
    margin: 5% 30% !important;
    text-align: center;
  }
  /* .navbar-toggler {
    background-color: white !important;
  } */

  .container-home {
    height: 40rem;
    width: 100%;
    background-size: 100% 100%;
  }
  .container-home .overlay {
    height: 40rem;
    width: 100%;
  }
  .container-home .left {
    height: 100%;
    margin-top: 19%;
  }
  .container-home .left h2 {
    font-size: 3rem !important;
  }
  .container-home .left p {
    color: #fff;
  }
  .container-home .left .season {
    margin-right: 0%;
  }
  .container-home .row .left .buttons {
    margin-top: 10% !important;
  }
  .container-home .row .left .buttons .watch {
    padding: 0% 2%;
    width: 100%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .row .left .buttons .favourite {
    width: 100%;
    padding: 2.5% 2%;
    margin: 0% 0%;
    font-size: 0.9rem;
  }
  .container-home .right {
    margin-top: 10%;
  }
  .container-home .right h2,
  h4,
  p,
  i {
    color: #000;
  }
}
